{{!< layout/default}}

{{#extend "css"}}
    <style>
        .sended {
            color: #2196F3;
        }

        .approved {
            color: #2196F3;
        }

        .beaten {
            color: #9E9E9E;
        }

        .draft {
            color: #9E9E9E;
        }

        .rejected {
            color: #F44336;
        }

        .topmenu {
            padding-left:10px;
            padding-right:10px;
            padding-top:20px;
            padding-bottom:20px;
        }

        .topmenu select {
            width:220px;
        }

        .btn-xs {
            padding:7px;
        }

        body {
            color:black;
        }

        #budget-table tbody { 
            cursor: pointer; 
        }

        #inCreation {
            animation: pulse1 2s infinite;
        }

        .inputColorsPulse {
            animation: pulse2 2s infinite;
        }

        @keyframes pulse1 {
            0% {
                background-color: #2ecc71;
            }
            100% {
                background-color: #9E9E9E;
            }
        }

        @keyframes pulse2 {
            0% {
                color: #3498db;
            }
            100% {
                color: #7f8c8d;
            }
        }
    </style>
{{/extend}}
<div class="topmenu">
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">
            <select id="budget-filter" name="state">
                <option></option>
                <option value="sended">TODOS LOS PRESUPUESTOS</option>
                <option value="sended">EN BORRADOR</option>
                <option value="sended">ENVIADOS</option>
                <option value="beaten">VENCIDOS</option>
                <option value="approved">APROBADOS</option>
                <option value="rejected">RECHAZADOS</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <button class="btn btn-primary" type="button" id="newBudget">
                <i class="fas fa-plus"></i>&nbsp;Nuevo presupuesto
            </button>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Importar datos
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"><img style="max-width:30px;" src="public/img/excel.png" alt=""> IMPORTAR DATOS DE EXCEL</a>   
                </div>
            </div>
        </div>
    </div>
    

    
</div>

<table id="budget-table" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">FECHA</th>
            <th scope="col">NÚMERO DE LA COTIZACIÓN</th>
            <th scope="col">NOMBRE DE REFERENCIA</th>
            <th scope="col">NOMBRE DEL CLIENTE</th>
            <th scope="col">ESTADO</th>
            <th scope="col">COSTO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>29/05/2018 18:00</th>
            <td>AGM-7</td>
            <td>6000 PLANTAS</td>
            <td>CLIENTE 4</td>
            <td class="approved">APROBADO</td>
            <td>CLP 86,870,000</td>
        </tr>
        <tr>
            <td>29/05/2018 17:50</th>
            <td>AGM-6</td>
            <td>50000 OLIVOS</td>
            <td>CLIENTE 4</td>
            <td class="draft">BORRADOR</td>
            <td>CLP 9,000,000</td>
        </tr>
        <tr>
            <td>29/05/2018 17:40</th>
            <td>AGM-5</td>
            <td>50000 OLIVOS</td>
            <td>CLIENTE 4</td>
            <td class="rejected">RECHAZADO</td>
            <td>CLP 10,000,000</td>
        </tr>
        <tr>
            <td>29/05/2018 17:30</th>
            <td>AGM-4</td>
            <td>30000 OLIVOS</td>
            <td>CLIENTE 4</td>
            <td class="sended">ENVIADO</td>
            <td>CLP 9,999,999</td>
        </tr>
        <tr>
            <td>29/05/2018 17:20</th>
            <td>AGM-3</td>
            <td>30000 GUINDOS</td>
            <td>CLIENTE 3</td>
            <td class="beaten">VENCIDO</td>
            <td>CLP 8,888,888</td>
        </tr>
        <tr>
            <td>29/05/2018 17:10</th>
            <td>AGM-2</td>
            <td>30000 OLIVOS</td>
            <td>CLIENTE 2</td>
            <td class="beaten">VENCIDO</td>
            <td>CLP 7,777,777</td>
        </tr>
        <tr>
            <td>29/05/2018 17:00</th>
            <td>AGM-1</td>
            <td>30000 GUINDOS</td>
            <td>CLIENTE 1</td>
            <td class="beaten">VENCIDO</td>
            <td>CLP 6,666,666</td>
        </tr>
    </tbody>
</table> 

<!-- Modal -->
<div class="modal fade" id="budgetModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal_title">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body"></div>
            <div class="modal-footer" id="modal_footer"></div>
        </div>
    </div>
</div>
    
   

{{#extend "js"}}
<script>
let rowSelected
let rowDataSelected
let datatable
let layouts = []
let products = []
let serverTime = ''
let productsAddedToBudget = 0
let addingProductStatus = 0
let productSelectedObj = {}
let s2ValueToAdd = ''
let s2EnabledProducts = [] // productos habilitados de productos (values)
let addingProductsArr = [] // arreglo de productos a añadir al presupuesto

$(document).ready(function() {
    $('#budget-filter').select2({
        placeholder: 'Filtrar por estado'
    });
    $('#budget-link').css('color', '#2196F3');

    datatable = $('#budget-table')
    .DataTable( {
        "ordering": false,
        "iDisplayLength": 100,
        "oLanguage": {
            "sSearch": "buscar: "
        },
        "responsive": false
    });

    $('#budget-table tbody').on('click', 'tr', function() {
        rowDataSelected = datatable.row($(this)).data();
        chargeModal();
    });
});

const chargeModal = () => {
    console.log(rowDataSelected)
    $('#budgetModal').modal('show');
    $('#modal_title').html(`Presupuesto ${rowDataSelected[1]} <span class="badge badge-primary">APROBADO</span>`)
    $('#modal_body').html(`
        <div class="row">
            <div class="col-md-6">
               <center> <img style="margin-top:50px;" src="/public/img/agromillora.png" alt=""> </center>
            </div>
            <div class="col-md-6" style="text-align:right">
                <p><b>Razón social: AGROMILLORA SUR S.A.</b></p>
                <p>Rut: 96827470-8 </p>
                <p>Dirección: Parcela 17 Loteo B,C Y D. San Gerardo, Rio Claro. Molina Chile</p>
                <p>Teléfono: (56-75) 249 2924</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><hr></div>
            <div class="col-md-4" style="text-align:center;"><h3 style="color:#2196F3;">COTIZACIÓN</h3></div>
            <div class="col-md-4"><hr></div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <p>Cliente:</p>
                <h5 style="color:#2196F3;">${rowDataSelected[3]}</h5>
            </div>
            <div class="col-md-6">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td style="background:#ecf0f1">Fecha de cotización</td>
                            <td>${rowDataSelected[0]}</td>
                        </tr>
                        <tr>
                            <td style="background:#ecf0f1">Fecha de vencimiento</td>
                            <td>15/06/2018 0:00</td>
                        </tr>
                        <tr">
                            <td style="background:#ecf0f1">Referencia</td>
                            <td>${rowDataSelected[2]}</td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Cant.</th>
                    <th scope="col">Precio unitario</th>
                    <th scope="col">Impuesto: %</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody style="color:#7f8c8d;">
                <tr>
                    <td>1</td>
                    <td>PLANTAS 10 CM</td>
                    <td>1,000</td>
                    <td>10,000</td>
                    <td>19,00</td>
                    <td>11,900,000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>PLANTAS 15 CM</td>
                    <td>2,000</td>
                    <td>12,000</td>
                    <td>19,00</td>
                    <td>28,560,000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>PLANTAS 20 CM</td>
                    <td>3,000</td>
                    <td>13,000</td>
                    <td>19,00</td>
                    <td>46,410,000</td>
                </tr>
            </tbody>
        </table> 

        <br>
        
        <div class="row">
            <div class="col-md-8">
                <p>DATOS CUENTA CORRIENTE</p>
                <p>Razón social : 96.827.470-8</p>
                <p>N° Cuenta : 0123456789</p>
                <p>Banco: BANCO DE AGROMILLORA</p>
                <p>Email: contacto@agromillora.com</p>
            </div>
            <div class="col-md-4">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>SUB TOTAL</td>
                            <td style="text-align:right;">73,000,000</td>
                        </tr>
                        <tr>
                            <td>IVA(19%)</td>
                            <td style="text-align:right;">13,870,000</td>
                        </tr>
                        <tr style="color:#4CAF50;">
                            <td>TOTAL</td>
                            <td style="text-align:right;">CLP 86,870,000</td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>

        <br>
        <hr>
        <br>
    `)

    $('#modal_footer').html(`
        <button type="button" class="btn btn-danger"><i class="fas fa-file-pdf"></i> EXPORTAR A PDF</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-at"></i> ENVIAR POR CORREO</button>   
    `)
}

$('#newBudget').on('click', function(){
    addingProductStatus = 0
    productsAddedToBudget = 0
    s2ValueToAdd = ''
    productSelectedObj = {}
    s2EnabledProducts = []
    addingProductsArr = []
    $('#budgetModal').modal('show');

    $('#modal_title').html(`
        Presupuesto <span id="inCreation" class="badge badge-secondary">En creación </span>
    `)

    $('#modal_body').html(`
        Plantilla seleccionada <select id="selectLayout" name="layoutName"></select>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <center> <img style="margin-top:50px;" src="/public/img/agromillora.png" alt=""> </center>
            </div>
            <div class="col-md-6" style="text-align:right" id="generalInfo">
                
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><hr></div>
            <div class="col-md-4" style="text-align:center;"><h3 style="color:#2196F3;">PRESUPUESTO</h3></div>
            <div class="col-md-4"><hr></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>Cliente:</p>
                <center><select id="selectClient" name="clientName"></select></center>
            </div>
            <div class="col-md-6">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td style="background:#ecf0f1">Fecha de presupuesto</td>
                            <td><span id="serverDate"></span></td>
                        </tr>
                        <tr>
                            <td style="background:#ecf0f1">Fecha de vencimiento</td>
                            <td><input id="expirationDate" type="text" value="" placeholder="Fecha de vencimiento del presupuesto" class="form-control border-input"></td>
                        </tr>
                        <tr>
                            <td style="background:#ecf0f1">Referencia</td>
                            <td><input id="reference" type="text" value="" placeholder="Nombre de referencia" class="form-control border-input"></td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
        
        <hr>
        <div class="row">
            <div class="col-md-6">     
                <center><select id="selectProductToAdd"><option value="default">Seleccione un producto</option></select></center>     
            </div>
            <div class="col-md-6">
                <button class="btn btn-dark btn-block" id="addProductToBudget">
                    <i style="color:#3498db;" class="fas fa-plus"></i> Añadir producto
                </button>
            </div>
        </div>
        <br>
        <div id="budgetProductSelected"></div>
        <div id="budgetProductsTable"></div>

        <div class="accordion" id="accordionText">
            <div class="card">
                <div class="card-header" id="headingText">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Información importante del presupuesto
                    </button>
                </h5>
                </div>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingText" data-parent="#accordionText">
                <div class="card-body">
                    <p><b>•	Los portainjertos podrían ser entregados antes de la fecha que aparece en la cotización, se avisará en forma oportuna.</b></p>
                    <br>
                    <h4><b>La fecha de reserva, será el orden de entrega de los mismos.
                    Si por razones de fuerza mayor, fuese imposible responder con la planta en este periodo, puede quedar la reserva como anticipo para la próxima fecha o se hará la devolución íntegra del saldo proporcional del anticipo pagado, a lo que corresponda con lo no entregado.</b></h4>
                    <br>
                    <p>•	El precio de la planta es puesta bajo camión, que proveerá el cliente en las instalaciones de AGROMILLORA SUR S.A. San Gerardo, Río Claro, Talca, en la fecha que oportunamente se informara vía correo electrónico.</p>
                    <p>•	Responderemos por el estado de entrega de la planta solo dentro del plazo que se fije para su retiro y se recomienda hacerla en un camión con baranda, con carpa o cerrado</p>
                    <p>•	La aceptación, vía correo electrónico, de la presente cotización implicara una aceptación irrevocable de las condiciones expresadas en la misma.</p>
                    <p>•	En consideración a la naturaleza vegetal del material contratado, se entiende que la época fijada para la entrega del mismo es meramente referencial. Así, entendiendo que una entrega fuera de plazo podrá redundar como condición máxima en la indemnización que tendrá como tope la devolución del saldo a lo que no se haya despachado. </p>
                    <p>•	La entrega posterior o en una época ciertamente inconveniente para el proceso requerido por el cliente y reconocido por Agromillora, sólo dará derecho a ser reembolsado por el valor de las plantas pagadas y no entregadas; sin derecho a recargo ni indemnización adicional de ninguna especie.</p>

                    <p>•	El cliente declara que en su calidad de viverista o productor tiene la debida experiencia para la manipulación del material contratado, razón por la cual, desde el retiro del mismo se hace desde ya responsable del estado de dicho material, sin que pueda desde aquel instante, atribuirse unilateralmente responsabilidad alguna a Agromillora acerca del estado y calidad de la planta.</p>
                    <p>•	Como consecuencia de lo anterior y encontrándose en cabal entendimiento de sus efectos el cliente exime expresamente a Agromillora de toda responsabilidad que acontezca de un hecho posterior al retiro de las plantas, ya sea por las características de la planta como por cualquier otra circunstancia nacida de la naturaleza.</p>
                    <p>•	Una vez que el anticipo sea efectuado, Agromillora enviará, vía mail, la cotización-contrato timbrada al cliente, con el objetivo de validar la reserva.</p>
                    <p>•	El retiro de las plantas y la entrega de la documentación legal correspondiente, se efectuara solo cuando estas estén íntegramente canceladas.</p>
                    <p>•	Agromillora tendrá la facultad de cobrar $12,5 por planta adicionales al precio neto, por concepto de no retiro de plantas debidamente coordinadas, cálculo que corresponde al reembalaje de plantas, utilización de nuevos materiales y mano de obra.</p>
                    <p>•	 Agromillora tendrá la facultad de cobrar intereses en el caso de las plantas no sean retiradas en el momento en que hayan sido debidamente programadas, o en el caso de que se produzca un retraso en el pago de las mismas. Este recargo corresponderá al 1% del valor total de las plantas contratadas, por cada 15 días de retraso.</p>

                </div>
            </div>

        </div>
        <br>
        <div class="row">   
            <div class="col-md-6" id="checkingAccount">
            </div>  
            <div class="col-md-6 table-responsive" id="finalCalculations"></div>
        </div>
    `)

    finalCalculation()

    $('#modal_footer').html(`
        <button class="btn btn-secondary" data-dismiss="modal">
            <i style="color:#e74c3c;" class="fas fa-times"></i> Cerrar
        </button>

        <button class="btn btn-secondary" id="saveDraftBudget">
            <i class="fas fa-save"></i> Guardar como borrador
        </button>
    
        <button class="btn btn-primary" id="saveBudget">
            <i class="fas fa-save"></i> Guardar presupuesto
        </button>
    `)


    setTimeout(() => {
        $('#reference').focus()
    }, 500);

    $('#addProductToBudget').on('click', function() {
        console.log('addingStatus: ' +addingProductStatus)
        console.log('counter: ' +productsAddedToBudget)
        if(addingProductStatus == 1) {
            if(productsAddedToBudget == 0) {
                productsAddedToBudget = 1 // contador de productos añadidos
                $('#budgetProductsTable').html(`
                <div class="card bg-light">
                    <div class="card-header">Productos de presupuesto</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <td>Producto</td>
                                            <td>Precio c/u</td>
                                            <td>Unidades</td>
                                            <td>Monto</td>
                                            <td>Fecha estimada de entrega</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody id="tableBudgetProductsTbody">
                                        <tr id="row${s2ValueToAdd}">
                                            <td><center>${productSelectedObj.type} ${$(productSelectedObj.name).text()}</center></td>
                                            <td><center>$${productSelectedObj.price}</center></td>
                                            <td>${$('#budgetProductStock').val()}</td>
                                            <td>$${comma_format(parseInt(productSelectedObj.price * $('#budgetProductStock').val()))}</td>
                                            <td>${$('#budgetProductDateOfDelivery').val()}</td>
                                            <td><button onclick="removeBudgetProduct('${s2ValueToAdd}')" id="${s2ValueToAdd}" type="button" class="btn btn-danger btn-xs">x</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                `)
            } else {
                productsAddedToBudget++
                $('#tableBudgetProductsTbody').append(`
                    <tr id="row${s2ValueToAdd}">
                        <td><center>${productSelectedObj.type} ${$(productSelectedObj.name).text()}</center></td>
                        <td><center>$${productSelectedObj.price}</center></td>
                        <td>${$('#budgetProductStock').val()}</td>
                        <td>$${comma_format(parseInt(productSelectedObj.price * $('#budgetProductStock').val()))}</td>
                        <td>${$('#budgetProductDateOfDelivery').val()}</td>
                        <td><button onclick="removeBudgetProduct('${s2ValueToAdd}')" id="${s2ValueToAdd}" type="button" class="btn btn-danger btn-xs">x</button></td>
                    </tr>
                `)
            }
            
            console.log(s2ValueToAdd)
            $(`#selectProductToAdd>option[value="${s2ValueToAdd}"]`).attr('disabled',true).change();
            $('#selectProductToAdd').select2({width:'80%'});

            s2EnabledProducts = s2EnabledProducts.filter(function(item) {
                return item !== s2ValueToAdd
            })
            
            addingProductsArr.push({
                name: $(productSelectedObj.name).text().toLowerCase(),
                type: productSelectedObj.type.toLowerCase(),
                price: parseInt(productSelectedObj.price),
                stock: parseInt($('#budgetProductStock').val()),
                deliveryDate: $('#budgetProductDateOfDelivery').val(),
                identifier: s2ValueToAdd
            })
            finalCalculation()
            console.log(addingProductsArr)

            if(s2EnabledProducts[0]) {
                $('#selectProductToAdd').val('default').trigger('change')
                $('#budgetProductSelected').empty()
            } else {
                $('#selectProductToAdd').val('default').trigger('change')
                $('#addProductToBudget').attr('disabled', true)
                $('#budgetProductSelected').empty()
            }
            
            addingProductStatus = 0
        } else {
            toastr.warning('Debe seleccionar un producto')
        }
    })

    getLayouts().then(res=>{
        if(res) {
            let s2layouts = res.reduce((arr, el, i)=>{
                return arr.concat({
                    id: i,
                    text: el.layoutName
                })
            }, [])

            $('#selectLayout').select2({
                width:'40%',
                data: s2layouts
            });

            $('#selectClient').select2({
                width:'80%',
                data: s2layouts
            });
            
            getProducts().then(products=>{
                let s2products = products.reduce((arr, el, i)=>{
                    s2EnabledProducts.push(`${i}-${el.type.toLowerCase()}`)
                    return arr.concat({
                        id: `${i}-${el.type.toLowerCase()}`,
                        text: $(el.name).text()
                    })
                }, [])

                $('#selectProductToAdd').select2({
                    width:'80%',
                    placeholder: 'Seleccione un producto',
                    data: s2products
                })
                
                $('#selectProductToAdd').on('select2:select', function (e) {
                    let selectProductVal = $('#selectProductToAdd').val()
                    if(selectProductVal != 'default') {
                        addingProductStatus = 1
                    
                        let formatProductType = selectProductVal.substring(selectProductVal.indexOf('-') + 1);
                        let productNameSelected = $('#selectProductToAdd').select2('data')[0].text.toLowerCase()
                        s2ValueToAdd = selectProductVal
                        productSelectedObj = products.filter(function(el) {
                            return $(el.name).text().toLowerCase() == productNameSelected && el.type.toLowerCase() == formatProductType
                        })[0]

                        $('#budgetProductSelected').html(`
                            <div class="row">  
                                <div class="col-md-12 table-responsive">
                                    <div style="background:#ecf0f1;">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <td>Producto</td>
                                                    <td>Precio c/u</td>
                                                    <td>Unidades</td>
                                                    <td>Fecha estimada de entrega</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><br><center>${productSelectedObj.type} <b>${$(productSelectedObj.name).text()}</b></center></td>
                                                    <td><br><center>$${productSelectedObj.price}</center></td>
                                                    <td><input id="budgetProductStock" type="number" value="1" placeholder="Unidades" class="inputColorsPulse form-control border-input justNumbers"></td>
                                                    <td><input id="budgetProductDateOfDelivery" type="text" value="" placeholder="Fecha de entrega" class="inputColorsPulse form-control border-input"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        `)

                        $('.justNumbers').keyup(function (){
                            this.value = (this.value + '').replace(/[^0-9]/g, ''); 
                        });

                        getTime().then(time=>{
                            let currentServerTime = time
                            let formatCurrentServerTime = moment(time).format('DD/MM/YYYY') 
                            let defaultExpirationDate = moment(currentServerTime).add(1,'month').format('DD/MM/YYYY')

                            $('#budgetProductDateOfDelivery').val(formatCurrentServerTime)
                            $('#budgetProductDateOfDelivery').daterangepicker({
                                "locale": {
                                    "format": "DD/MM/YYYY",
                                    "daysOfWeek": [
                                    "Dom",
                                    "Lun",
                                    "Mar",
                                    "Mie",
                                    "Jue",
                                    "Vie",
                                    "Sab"
                                    ],
                                    "monthNames": [
                                    "Enero",
                                    "Febrero",
                                    "Marzo",
                                    "Abril",
                                    "Mayo",
                                    "Junio",
                                    "Julio",
                                    "Agosto",
                                    "Septiembre",
                                    "Octubre",
                                    "Noviembre",
                                    "Diciembre"
                                    ],
                                    "firstDay": 1
                                },
                                drops: "up",
                                singleDatePicker: true,
                                showDropdowns: true,
                                minDate: formatCurrentServerTime
                            });
                        })
                    } else {
                        $('#budgetProductSelected').empty()
                    }
                    
                });
            })
            
            getTime().then(time=>{
                let currentServerTime = time
                let formatCurrentServerTime = moment(time).format('DD/MM/YYYY') 
                let defaultExpirationDate = moment(currentServerTime).add(1,'month').format('DD/MM/YYYY')

                $('#serverDate').text(formatCurrentServerTime)
                $('#expirationDate').val(defaultExpirationDate)
                $('#expirationDate').daterangepicker({
                    "locale": {
                        "format": "DD/MM/YYYY",
                        "daysOfWeek": [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sab"
                        ],
                        "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                        ],
                        "firstDay": 1
                    },
                    drops: "up",
                    singleDatePicker: true,
                    showDropdowns: true,
                    minDate: formatCurrentServerTime
                });

            })
              
            
            
            printLayout()
        }
   })
})


function printLayout() {
    let selectedLayout = $('#selectLayout').select2('data')[0].text
    
    let selectedLayoutData = layouts.filter(function(el) {
        return el.layoutName == selectedLayout
    })[0]

    let generalInfoHTML = selectedLayoutData.generalInfo.reduce((txt, el, i)=>{
        return txt += `
            <p>${el.key}: ${el.value}</p>
        `
    }, '')
    

    $('#generalInfo').html(`${generalInfoHTML}`)
    
    let checkingAccountHTML = selectedLayoutData.checkingAccount.content.reduce((txt, el, i)=>{
        return txt += `
            <tr>
                <td><center>${el.key}</center></td>
                <td><center><b>${el.value}</b></center></td>
            </tr>
        `
    }, '')


    $('#checkingAccount').html(`
    <div class="card bg-light">
        <div class="card-header"><center>${selectedLayoutData.checkingAccount.title}</center></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        ${checkingAccountHTML}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    `)
    
   console.log(selectedLayoutData)
}

function getLayouts() {
    return new Promise(resolve=>{
        ajax({
            url:"api/layout/getAll"
        }).then(res=> {
            if(res.ok) {
                layouts = res.ok
                resolve(res.ok)
            } else if (res.err) {
                toastr.warning(res.err)
                resolve(null)
            }
            
        })
    })
}

function getProducts() {
    return new Promise(resolve=>{
        ajax({
            url:"api/product/getAll"
        }).then(res=> {
            if(res.ok) {
                products = res.ok

                resolve(res.ok)
            } else if (res.err) {
                toastr.warning(res.err)
                resolve(null)
            }     
        })
    })
}

function removeBudgetProduct(productToRemove) {
   // $('#tableBudgetProductsTbody')
    $(`[id='row${productToRemove}']`).empty()
    s2EnabledProducts.push(productToRemove)
    $(`#selectProductToAdd>option[value="${productToRemove}"]`).attr('disabled',false).change();
    $('#selectProductToAdd').select2({width:'80%'});
    console.log(s2EnabledProducts)
    productsAddedToBudget--
    $('#addProductToBudget').attr('disabled',false)
    if(productsAddedToBudget == 0) {
        $('#budgetProductsTable').empty()
    }

    addingProductsArr = addingProductsArr.filter(function(item) {
        return item.identifier !== productToRemove
    })
    finalCalculation()

    console.log(addingProductsArr)
            
}

function finalCalculation() {
    let finalAmount = addingProductsArr.reduce((total, el, i)=>{
        return total += el.price * el.stock
    },0)

    let finalAdvance = (finalAmount * 40) / 100
    let finalInDelivery = (finalAmount * 60) / 100

    let amountNew = (finalAmount / ((19 / 100) + 1))
    let amountTax = parseFloat(finalAmount) - parseFloat(amountNew)
    let iva = parseInt(amountTax)

    console.log(amountNew, amountTax, iva)

    $('#finalCalculations').html(`
        <h3><b>Condiciones comerciales, de pago y Facturación:</b></h3>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td><center>40% de anticipo de reserva:</center></td>
                    <td><center><b>$${comma_format(finalAdvance)}</b></center></td>
                </tr>
                <tr>
                    <td><center>Saldo, al momento del despacho de las plantas:</center></td>
                    <td><center><b>$${comma_format(finalInDelivery)}</b></center></td>
                </tr>
                <tr>
                    <td><center>IVA, se deberá cancelar documentado, al día 10 del mes siguiente de la fecha de despacho:</center></td>
                    <td><center><b>$${comma_format(iva)}</b></center></td>
                </tr>
                <tr>
                    <td><center>Sub total:</center></td>
                    <td><center><b>$${comma_format(finalAmount)}</b></center></td>
                </tr>
                <tr>
                    <td><center><h3>Total a pagar:</h3></center></td>
                    <td><center><h3 style="color:#1abc9c;"><b>$${comma_format(finalAmount+iva)}</b></h3></center></td>
                </tr>
            </tbody>
        </table>
    `)
}
</script>
{{/extend}}
