{{!< layout/default}}

{{#extend "css"}}
 <style>
  
 </style>
{{/extend}}

<!--
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a id="pillProducts" class="nav-link active" id="pills-products-tab" data-toggle="pill" href="#pills-products" role="tab" aria-controls="pills-home" aria-selected="true">Productos</a>
            </li>
            <li class="nav-item">
                <a id="pillDisabledProducts" class="nav-link" id="pills-disabledProducts-tab" data-toggle="pill" href="#pills-disabledProducts" role="tab" aria-controls="pills-profile" aria-selected="false">Productos deshabilitados</a>
            </li>
        </ul>
    </div>

    <div class="col-md-12">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-products" role="tabpanel" aria-labelledby="pills-products-tab">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <br>
                        <button class="btn btn-dark btn-block btnSecond" id="optionCreateProduct">
                            <i style="color:#3498db;" class="fas fa-plus"></i> Nuevo producto
                        </button>
                        <button class="btn btn-dark btn-block btnSecond" id="optionTypeProduct">
                            <i style="color:#1abc9c;" class="fas fa-list-ul"></i> Tipos de productos
                        </button>
                        <hr>
                        <button class="btn btn-dark btn-block btnSecond2" id="optionModProduct" disabled>
                            <i style="color:#f1c40f;" class="fas fa-edit"></i> Modificar producto
                        </button>
                        <button class="btn btn-dark btn-block btnSecond2" id="optionDisableProduct" disabled>
                            <i style="color:#e74c3c;" class="fas fa-ban"></i> Deshabilitar producto
                        </button>
                    </div>
                

                    <div class="col-md-10 col-xs-12 box-shadows table-responsive">
                        <table id="tableProducts" class="display nowrap table table-condensed" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Precio c/u CLP $</th>
                                    <th>Stock</th>
                                </tr>
                            </thead>
                        </table>
                        <div id="loadingProducts">
                            <center>
                                <i style="color:#3498db;" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                <span class="sr-only">Cargando...</span>
                            </center>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-disabledProducts" role="tabpanel" aria-labelledby="pills-disabledProducts-tab">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <br>
                        <button class="btn btn-dark btn-block btnSecond2" id="optionEnableProduct" disabled>
                            <i style="color:#3498db;" class="fas fa-check"></i> Habilitar producto
                        </button>
                        <button class="btn btn-dark btn-block btnSecond2" id="optionDeleteProduct" disabled>
                            <i style="color:#e74c3c;" class="fas fa-times"></i> Eliminar producto
                        </button>
                    </div>
                    
                    <div class="col-md-10 col-xs-12 box-shadows table-responsive">
                        <table id="tableDisabledProducts" class="display nowrap table table-condensed" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Precio c/u CLP $</th>
                                    <th>Stock</th>
                                </tr>
                            </thead>
                        </table>
                        <div id="loadingDisabledProducts">
                            <center>
                                <i style="color:#3498db;" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                <span class="sr-only">Cargando...</span>
                            </center>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
-->

<div class="col-md-12 col-xs-12 table-responsive">
    <h1>Ultima actualización: <span id="lastUpdate"></span></h1>
    <table id="tableProducts" class="display nowrap table table-condensed" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Especie</th>
                <th>Tipo bodega</th>
                <th>Almacen</th>
                <th>Variedad</th>
                <th>Envase</th>
                <th>Stock actual</th>
            </tr>
        </thead>
    </table>
    <div id="loadingProducts">
        <center>
            <i style="color:#3498db;" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <span class="sr-only">Cargando...</span>
        </center>
    </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="modal_title">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body"></div>
            <div class="modal-footer" id="modal_footer"></div>
        </div>
    </div>
</div>


<div class="modal fade" id="typesModal" tabindex="-1" role="dialog" aria-labelledby="modal_title">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="types_modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="types_modal_body"></div>
            <div class="modal-footer" id="types_modal_footer"></div>
        </div>
    </div>
</div>

{{#extend "js"}}
<script>
let datatableProducts

$(document).ready(function(){
    chargeProductsTable()
})

function chargeProductsTable() {
    datatableProducts = $('#tableProducts')
    .DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        ordering: true,
        iDisplayLength: 100,
        order: [[ 3, 'asc' ]],
        oLanguage: {
            sSearch: 'buscar: '
        },
        responsive: false,
        columns: [
            { data: 'especie' },
            { data: 'tipobodega' },
            { data: 'almacen' },
            { data: 'variedad' },
            { data: 'envase' },
            { data: 'stockactual', type: 'num-fmt' }                
        ],
        initComplete: function (settings, json) {
            ajax({
                url: '/api/products/getAllProducts'
            }).then(res => {
                if (res.err) {
                    toastr.warning(res.err)
                    $('#loadingProducts').empty()
                } else if(res.ok) {

                    let formatList = res.ok.list.map(el=>{
                        el.stockactual = comma_format(el.stockactual)
                        return el
                    })

                    let sortedObjs = _.sortBy(formatList, 'variedad' )

                    $('#lastUpdate').html(moment(res.ok.lastUpdate).format('YYYY/MM/DD HH:mm'))
                    datatableProducts.rows.add(sortedObjs).draw()
                    $('#loadingProducts').empty()
                }      
            })
        }
    })
}
</script>
{{/extend}}