{{!< layout/default}}

{{#extend "css"}}
 <style>
  
 </style>
{{/extend}}

<!--
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a id="pillProducts" class="nav-link active" id="pills-products-tab" data-toggle="pill" href="#pills-products" role="tab" aria-controls="pills-home" aria-selected="true">Productos</a>
            </li>
            <li class="nav-item">
                <a id="pillDisabledProducts" class="nav-link" id="pills-disabledProducts-tab" data-toggle="pill" href="#pills-disabledProducts" role="tab" aria-controls="pills-profile" aria-selected="false">Productos deshabilitados</a>
            </li>
        </ul>
    </div>

    <div class="col-md-12">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-products" role="tabpanel" aria-labelledby="pills-products-tab">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <br>
                        <button class="btn btn-dark btn-block btnSecond" id="optionCreateProduct">
                            <i style="color:#3498db;" class="fas fa-plus"></i> Nuevo producto
                        </button>
                        <button class="btn btn-dark btn-block btnSecond" id="optionTypeProduct">
                            <i style="color:#1abc9c;" class="fas fa-list-ul"></i> Tipos de productos
                        </button>
                        <hr>
                        <button class="btn btn-dark btn-block btnSecond2" id="optionModProduct" disabled>
                            <i style="color:#f1c40f;" class="fas fa-edit"></i> Modificar producto
                        </button>
                        <button class="btn btn-dark btn-block btnSecond2" id="optionDisableProduct" disabled>
                            <i style="color:#e74c3c;" class="fas fa-ban"></i> Deshabilitar producto
                        </button>
                    </div>
                

                    <div class="col-md-10 col-xs-12 box-shadows table-responsive">
                        <table id="tableProducts" class="display nowrap table table-condensed" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Precio c/u CLP $</th>
                                    <th>Stock</th>
                                </tr>
                            </thead>
                        </table>
                        <div id="loadingProducts">
                            <center>
                                <i style="color:#3498db;" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                <span class="sr-only">Cargando...</span>
                            </center>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-disabledProducts" role="tabpanel" aria-labelledby="pills-disabledProducts-tab">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <br>
                        <button class="btn btn-dark btn-block btnSecond2" id="optionEnableProduct" disabled>
                            <i style="color:#3498db;" class="fas fa-check"></i> Habilitar producto
                        </button>
                        <button class="btn btn-dark btn-block btnSecond2" id="optionDeleteProduct" disabled>
                            <i style="color:#e74c3c;" class="fas fa-times"></i> Eliminar producto
                        </button>
                    </div>
                    
                    <div class="col-md-10 col-xs-12 box-shadows table-responsive">
                        <table id="tableDisabledProducts" class="display nowrap table table-condensed" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Precio c/u CLP $</th>
                                    <th>Stock</th>
                                </tr>
                            </thead>
                        </table>
                        <div id="loadingDisabledProducts">
                            <center>
                                <i style="color:#3498db;" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                <span class="sr-only">Cargando...</span>
                            </center>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
-->

<div class="col-md-12 col-xs-12 table-responsive">
    <h1>Ultima actualización: <span id="lastUpdate"></span></h1>
    <table id="tableProducts" class="display nowrap table table-condensed" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Tipo bodega</th>
                <th>Almacen</th>
                <th>Variedad</th>
                <th>Envase</th>
                <th>Stock actual</th>
            </tr>
        </thead>
    </table>
    <div id="loadingProducts">
        <center>
            <i style="color:#3498db;" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <span class="sr-only">Cargando...</span>
        </center>
    </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="modal_title">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body"></div>
            <div class="modal-footer" id="modal_footer"></div>
        </div>
    </div>
</div>


<div class="modal fade" id="typesModal" tabindex="-1" role="dialog" aria-labelledby="modal_title">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="types_modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="types_modal_body"></div>
            <div class="modal-footer" id="types_modal_footer"></div>
        </div>
    </div>
</div>

{{#extend "js"}}
<script>
let datatableProducts

$(document).ready(function(){
    chargeProductsTable()
})

function chargeProductsTable() {
    datatableProducts = $('#tableProducts')
    .DataTable( {
        ordering: true,
        iDisplayLength: 100,
        oLanguage: {
            sSearch: 'buscar: '
        },
        responsive: false,
        columns: [
            { data: 'tipobodega' },
            { data: 'almacen' },
            { data: 'variedad' },
            { data: 'envase' },
            { data: 'stockactual', type: 'num-fmt' }                
        ],
        initComplete: function (settings, json) {
            ajax({
                url: '/api/products/getAllProducts'
            }).then(res => {
                if (res.err) {
                    toastr.warning(res.err)
                    $('#loadingProducts').empty()
                } else if(res.ok) {

                    let formatList = res.ok.list.map(el=>{
                        el.stockactual = comma_format(el.stockactual)
                        return el
                    })

                    $('#lastUpdate').html(moment(res.ok.lastUpdate).format('YYYY/MM/DD HH:mm'))
                    datatableProducts.rows.add(formatList).draw()
                    $('#loadingProducts').empty()
                }      
            })
        }
    })
}
</script>
<script>
/*
let datatableProducts
let datatableDisabledProducts
let productRowSelected
let productRowSelectedData
let disabledProductRowSelected
let disabledProductRowSelectedData
let allTypes = [] // Todos los tipos de productos
let pillsOpenTimes = {
    products: 0,
    disabledProducts: 0
}

$(document).ready(function(){
    chargeProductsTable()
})

function chargeProductsTable() {
    pillsOpenTimes.products++
    if(pillsOpenTimes.products <= 1){
        datatableProducts = $('#tableProducts')
        .DataTable( {
            ordering: true,
            iDisplayLength: 50,
            oLanguage: {
                sSearch: 'buscar: '
            },
            responsive: false,
            columns: [
                { data: 'name' },
                { data: 'type' },
                { data: 'price', type: 'num-fmt' },
                { data: 'stock', type: 'num-fmt' }                
            ],
            initComplete: function (settings, json) {
                ajax({
                    url: 'api/product/getAll'
                }).then(res => {
                    if (res.err) {
                        toastr.warning(res.err)
                        $('#loadingProducts').empty()
                    } else if(res.ok) {
                        datatableProducts.rows.add(res.ok).draw()
                        $('#loadingProducts').empty()
                    }      
                })
            }
        })

        
        $('#tableProducts tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected')
                $('#optionModProduct').prop('disabled', true)
                $('#optionDisableProduct').prop('disabled', true)
            } else {
                datatableProducts.$('tr.selected').removeClass('selected')
                $(this).addClass('selected')
                $('#optionModProduct').prop('disabled', false)
                $('#optionDisableProduct').prop('disabled', false)
                productRowSelectedData = {
                    name: $(datatableProducts.row($(this)).data().name).text().toLowerCase(),
                    type: datatableProducts.row($(this)).data().type.toLowerCase(),
                    price: removeCommas(datatableProducts.row($(this)).data().price),
                    stock: removeCommas(datatableProducts.row($(this)).data().stock)
                }
                productRowSelected = datatableProducts.row($(this))
            }
        })
    }
}

function chargeDisabledProductsTable() {
    pillsOpenTimes.disabledProducts++
    if(pillsOpenTimes.disabledProducts <= 1){
        datatableDisabledProducts = $('#tableDisabledProducts')
        .DataTable( {
            ordering: true,
            iDisplayLength: 50,
            oLanguage: {
                sSearch: 'buscar: '
            },
            responsive: false,
            columns: [
                { data: 'name' },
                { data: 'type' },
                { data: 'price', type: 'num-fmt' },
                { data: 'stock', type: 'num-fmt' }               
            ],
            initComplete: function (settings, json) {
                ajax({
                    url: 'api/product/getAllDisabled'
                }).then(res => {
                    if (res.err) {
                        toastr.warning(res.err)
                        $('#loadingDisabledProducts').empty()
                    } else if(res.ok) {
                        datatableDisabledProducts.rows.add(res.ok).draw()
                        $('#loadingDisabledProducts').empty()
                    }      
                })
            }
        })

        $('#tableDisabledProducts tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected')
                $('#optionEnableProduct').prop('disabled', true)
                $('#optionDeleteProduct').prop('disabled', true)
            } else {
                datatableDisabledProducts.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $('#optionEnableProduct').prop('disabled', false)
                $('#optionDeleteProduct').prop('disabled', false)
                disabledProductRowSelectedData = {
                    name: $(datatableDisabledProducts.row($(this)).data().name).text().toLowerCase(),
                    type: datatableDisabledProducts.row($(this)).data().type.toLowerCase(),
                    price: removeCommas(datatableDisabledProducts.row($(this)).data().price),
                    stock: removeCommas(datatableDisabledProducts.row($(this)).data().stock)
                }
                disabledProductRowSelected = datatableDisabledProducts.row($(this))
            }
        })
    }
    
}

$('#pillProducts').on('click', function(){
    if(!$(this).hasClass('active')) {
        chargeProductsTable()
    }
})

$('#pillDisabledProducts').on('click', function(){
    if(!$(this).hasClass('active')) {
        chargeDisabledProductsTable()
    }
})

$('#optionCreateProduct').on('click', function() { // CREAR PRODUCTO
    getAllTypes().then(res=>{
        if(res.ok) {
            $('#productModal').modal('show');
            $('#modal_title').html(`Nuevo producto`)
            $('#modal_body').html(`   
                <div class="row">
                    <div class="col-md-4" style="margin-top:10px;">
                        Nombre del producto
                        <input id="newProductName" type="text" placeholder="Nombre del producto" class="form-control border-input">
                    </div>
                    
                    <div class="col-md-4" style="margin-top:10px;">
                        Precio por unidad en CLP
                        <input id="newProductPrice" min="0" type="number" placeholder="Precio del producto" class="form-control border-input justNumbers">
                    </div>

                    <div class="col-md-4" style="margin-top:10px;">
                        Stock del producto
                        <input id="newProductStock" min="0" type="number" placeholder="Stock del producto" class="form-control border-input justNumbers">
                    </div>

                    <div class="col-md-4" style="margin-top:10px;">
                        Seleccione tipo de producto
                        <select id="newProductType" name="newProductType"></select>
                    </div>

                    <div class="col-md-12" id="newProductErrorMessage"></div>
                </div>   
            `)

            $('#modal_footer').html(`
                <button class="btn btn-dark" data-dismiss="modal">
                    <i style="color:#e74c3c;" class="fas fa-times"></i> Cancelar
                </button>

                <button class="btn btn-dark" id="saveProduct">
                    <i style="color:#3498db;" class="fas fa-check"></i> Guardar
                </button>
            `)

            setTimeout(() => {
                $('#newProductName').focus()    
            }, 500);

            let s2types = res.ok.reduce((arr, el, i)=>{
                return arr.concat({
                    id: i,
                    text: capitalizeFirst(el)
                })
            }, [])

            $('#newProductType').select2({
                width:'100%',
                data: s2types
            })

            $('.justNumbers').keyup(function (){
                this.value = (this.value + '').replace(/[^0-9]/g, ''); 
            });

            $('#saveProduct').on('click', function(){
                $('#saveProduct').attr('disabled', true);

                let newProductName   = removeExtraSpaces($('#newProductName').val().toLowerCase())
                let newProductPrice  = removeExtraSpaces($('#newProductPrice').val())
                let newProductStock  = removeExtraSpaces($('#newProductStock').val())
                let newProductType   = removeExtraSpaces($('#newProductType').select2('data')[0].text).toLowerCase()
                let newProductValidateCounter = 0
                let newProductValidateHTML = ''
                
                if(newProductName.length > 0) { 
                    newProductValidateCounter++ // 1
                } else {
                    newProductValidateHTML += '<br>* Debe ingresar un <b>nombre</b> de producto'
                }

                if(newProductPrice.length > 0) {
                    newProductValidateCounter++ // 2
                } else {
                    newProductValidateHTML += '<br>* Debe ingresar un <b>precio</b> de producto'
                }

                if(newProductStock.length > 0) {
                    newProductValidateCounter++ // 3
                } else {
                    newProductValidateHTML += '<br>* Debe ingresar un <b>stock</b> de product'
                }

                if(newProductValidateCounter == 3) {
                    $('#newProductErrorMessage').empty()

                    swal({
                        reverseButtons: true,
                        title: `¿Estás seguro de agregar el producto de nombre ${newProductName}?`,
                        text: '',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Sí, Agregar',
                        cancelButtonText: 'No, Cancelar',
                        confirmButtonClass: 'btn btn-primary',
                        cancelButtonClass: 'btn btn-danger',
                        buttonsStyling: false
                    }).then(function (action) {
                        if (action.value) {
                            ajax({
                                url: 'api/product/newProduct',
                                type: 'POST',
                                data: {
                                    name: newProductName,
                                    price: newProductPrice,
                                    stock: newProductStock,
                                    type: newProductType
                                }
                            }).then(res=>{
                                if(res.ok) {
                                    toastr.success(res.ok)
                                    $('#productModal').modal('hide')
                                    
                                    addRow({
                                        table: datatableProducts,
                                        name: newProductName,
                                        price: newProductPrice,
                                        stock: newProductStock,
                                        type: newProductType
                                    })

                                } else if(res.err) {
                                    toastr.warning(res.err)
                                    $('#saveProduct').attr('disabled', false);
                                }
                            })
                        } else {
                            $('#saveProduct').attr('disabled', false);
                        }
                    });
 
                } else {
                    $('#newProductErrorMessage').html(`
                    <br>
                    <div class="alert alert-dismissible alert-warning">
                        <h4 class="alert-heading">Antes de agregar un producto, solucione los siguientes errores:</h4>
                        <p class="mb-0">${newProductValidateHTML}</p>
                    </div>
                    `)
                    $('#saveProduct').attr('disabled', false);
                }

            })
        } else if(res.err) {
            toastr.warning('PARA CREAR UN NUEVO PRODUCTO DEBE EXISTIR COMO MÍNIMO 1 TIPO DE PRODUCTO')
        }
    })   
})

$('#optionModProduct').on('click', function() { // MODIFICAR PRODUCTO
    getAllTypes().then(res=>{
        if(res.ok) {
            $('#productModal').modal('show');
            $('#modal_title').html(`Modificar producto`)
            $('#modal_body').html(`   
                <div class="row">
                    <div class="col-md-4" style="margin-top:10px;">
                        Nombre del producto
                        <input value="${productRowSelectedData.name}" id="modProductName" type="text" placeholder="Nombre del producto" class="form-control border-input">
                    </div>
                    
                    <div class="col-md-4" style="margin-top:10px;">
                        Precio por unidad en CLP
                        <input value="${productRowSelectedData.price}" id="modProductPrice" min="0" type="number" placeholder="Precio del producto" class="form-control border-input justNumbers">
                    </div>

                    <div class="col-md-4" style="margin-top:10px;">
                        Stock del producto
                        <input value="${productRowSelectedData.stock}" id="modProductStock" min="0" type="number" placeholder="Stock del producto" class="form-control border-input justNumbers">
                    </div>

                    <div class="col-md-4" style="margin-top:10px;">
                        Seleccione tipo de producto
                        <select id="modProductType" name="modProductType"></select>
                    </div>

                    <div class="col-md-12" id="modProductErrorMessage"></div>
                </div>   
            `)

            $('#modal_footer').html(`
                <button class="btn btn-dark" data-dismiss="modal">
                    <i style="color:#e74c3c;" class="fas fa-times"></i> Cancelar
                </button>

                <button class="btn btn-dark" id="saveModProduct">
                    <i style="color:#3498db;" class="fas fa-check"></i> Modificar
                </button>
            `)

            setTimeout(() => {       
                $('#modProductName').focus()           
            }, 500);

            let s2types = res.ok.reduce((arr, el, i)=>{
                return arr.concat({
                    id: i,
                    text: capitalizeFirst(el)
                })
            }, [])

            $('#modProductType').select2({
                width:'100%',
                data: s2types
            })
            
            setTimeout(() => { 
                let s2typeSelected = s2types.filter(function(item) {
                    return item.text == capitalizeFirst(productRowSelectedData.type)
                })[0]
                
                if(typeof s2typeSelected != 'undefined') {
                    $('#modProductType').val(s2typeSelected.id).trigger('change')  
                } else {
                    $('#modProductType').val(0).trigger('change')  
                }
                $('#modProductName').focus() 
                        
            }, 100);
            

            $('.justNumbers').keyup(function (){
                this.value = (this.value + '').replace(/[^0-9]/g, ''); 
            });

            $('#saveModProduct').on('click', function(){
                $('#saveModProduct').attr('disabled', true);

                let modProductName   = removeExtraSpaces($('#modProductName').val().toLowerCase())
                let modProductPrice  = removeExtraSpaces($('#modProductPrice').val())
                let modProductStock  = removeExtraSpaces($('#modProductStock').val())
                let modProductType   = removeExtraSpaces($('#modProductType').select2('data')[0].text).toLowerCase()
                let modProductValidateCounter = 0
                let modProductValidateHTML = ''
                
                if(modProductName.length > 0) { 
                    modProductValidateCounter++ // 1
                } else {
                    modProductValidateHTML += '<br>* Debe ingresar un <b>nombre</b> de producto'
                }

                if(modProductPrice.length > 0) {
                    modProductValidateCounter++ // 2
                } else {
                    modProductValidateHTML += '<br>* Debe ingresar un <b>precio</b> de producto'
                }

                if(modProductStock.length > 0) {
                    modProductValidateCounter++ // 3
                } else {
                    modProductValidateHTML += '<br>* Debe ingresar un <b>stock</b> de product'
                }

                if(modProductValidateCounter == 3) {
                    $('#modProductErrorMessage').empty()

                    swal({
                        reverseButtons: true,
                        title: `¿Estás seguro de modificar el producto de nombre <b>${modProductName}</b>?`,
                        text: '',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Sí, Modificar',
                        cancelButtonText: 'No, Cancelar',
                        confirmButtonClass: 'btn btn-primary',
                        cancelButtonClass: 'btn btn-danger',
                        buttonsStyling: false
                    }).then(function (action) {
                        if (action.value) {
                            ajax({
                                url: 'api/product/modProduct',
                                type: 'POST',
                                data: {
                                    originalName: productRowSelectedData.name,
                                    originalType: productRowSelectedData.type,
                                    name: modProductName,
                                    price: modProductPrice,
                                    stock: modProductStock,
                                    type: modProductType
                                }
                            }).then(res=>{
                                if(res.ok) {
                                    toastr.success(res.ok)
                                    $('#productModal').modal('hide')

                                    removeRow({table: datatableProducts, row: productRowSelected})
                                    addRow({
                                        table: datatableProducts,
                                        name: modProductName,
                                        price: modProductPrice,
                                        stock: modProductStock,
                                        type: modProductType
                                    })

                                } else if(res.err) {
                                    toastr.warning(res.err)
                                    $('#saveModProduct').attr('disabled', false);
                                }
                            })
                        } else {
                            $('#saveModProduct').attr('disabled', false);
                        }
                    });
 
                } else {
                    $('#newProductErrorMessage').html(`
                    <br>
                    <div class="alert alert-dismissible alert-warning">
                        <h4 class="alert-heading">Antes de modificar el producto, solucione los siguientes errores:</h4>
                        <p class="mb-0">${modProductValidateHTML}</p>
                    </div>
                    `)
                    $('#saveModProduct').attr('disabled', false);
                }

            })
        } else if(res.err) {
            toastr.warning('PARA MODIFICAR UN PRODUCTO DEBE EXISTIR COMO MÍNIMO 1 TIPO DE PRODUCTO')
        }
    })   
})

$('#optionEnableProduct').on('click', function() {
    $('#optionEnableProduct').attr('disabled', true)
    console.log(disabledProductRowSelectedData.name, disabledProductRowSelectedData.type)
    swal({
        reverseButtons: true,
        title: `¿Estás seguro de habilitar el producto <b>${disabledProductRowSelectedData.type} ${disabledProductRowSelectedData.name}</b>?`,
        text: '',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, Habilitar',
        cancelButtonText: 'No, Cancelar',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: false
    }).then(function (action) {
        if (action.value) {
            ajax({
                url: 'api/product/enable',
                type: 'POST',
                data: {
                    name: disabledProductRowSelectedData.name,
                    type: disabledProductRowSelectedData.type
                }
            }).then(res=>{
                if(res.ok) {
                    removeRow({table: datatableDisabledProducts, row: disabledProductRowSelected})
                    
                    if(pillsOpenTimes.products > 0) {
                        addRow({ // añadir producto habilitado a tabla de productos habilitados
                            table: datatableProducts,
                            name: disabledProductRowSelectedData.name,
                            price: disabledProductRowSelectedData.price,
                            stock: disabledProductRowSelectedData.stock,
                            type: disabledProductRowSelectedData.type
                        })
                    }

                    toastr.success(res.ok)
                    $('#optionEnableProduct').attr('disabled', true)
                    $('#optionDeleteProduct').attr('disabled', true)
                } else if(res.err) {
                    toastr.error(res.err)
                    $('#optionEnableProduct').attr('disabled', false)
                }
                
            })
        } else {
            $('#optionEnableProduct').attr('disabled', false)
        }
    })
    
})

$('#optionDeleteProduct').on('click', function() {
    $('#optionDeleteProduct').attr('disabled', true)
    console.log(disabledProductRowSelectedData.name, disabledProductRowSelectedData.type)
    swal({
        reverseButtons: true,
        title: `¿Estás seguro de <b>eliminar</b> el producto <b>${disabledProductRowSelectedData.type} ${disabledProductRowSelectedData.name}</b>?`,
        text: '',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, Eliminar',
        cancelButtonText: 'No, Cancelar',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: false
    }).then(function (action) {
        if (action.value) {
            ajax({
                url: 'api/product/delete',
                type: 'POST',
                data: {
                    name: disabledProductRowSelectedData.name,
                    type: disabledProductRowSelectedData.type
                }
            }).then(res=>{
                if(res.ok) {
                    removeRow({table: datatableDisabledProducts, row: disabledProductRowSelected})
                    
                    toastr.success(res.ok)
                    $('#optionEnableProduct').attr('disabled', true)
                    $('#optionDeleteProduct').attr('disabled', true)
                } else if(res.err) {
                    toastr.error(res.err)
                    $('#optionDeleteProduct').attr('disabled', false)
                }
                
            })
        } else {
            $('#optionEnableProduct').attr('disabled', false)
        }
    });
    
})

$('#optionDisableProduct').on('click', function() {
    $('#optionDisableProduct').attr('disabled', true)
    console.log(productRowSelectedData.name, productRowSelectedData.type)
    swal({
        reverseButtons: true,
        title: `¿Estás seguro de deshabilitar el producto <b>${productRowSelectedData.type} ${productRowSelectedData.name}</b>?`,
        text: '',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, Deshabilitar',
        cancelButtonText: 'No, Cancelar',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: false
    }).then(function (action) {
        if (action.value) {
            ajax({
                url: 'api/product/disable',
                type: 'POST',
                data: {
                    name: productRowSelectedData.name,
                    type: productRowSelectedData.type
                }
            }).then(res=>{
                if(res.ok) {
                    removeRow({table: datatableProducts, row: productRowSelected})
                    
                    if(pillsOpenTimes.disabledProducts > 0) {
                        addRow({ // añadir producto deshabilitado a tabla de productos deshabilitados
                            table: datatableDisabledProducts,
                            name: productRowSelectedData.name,
                            price: productRowSelectedData.price,
                            stock: productRowSelectedData.stock,
                            type: productRowSelectedData.type
                        })
                    }

                    toastr.success(res.ok)
                    $('#optionDisableProduct').attr('disabled', true)
                    $('#optionModProduct').attr('disabled', true)
                } else if(res.err) {
                    toastr.error(res.err)
                    $('#optionDisableProduct').attr('disabled', false)
                }
                
            })
        } else {
            $('#optionDisableProduct').attr('disabled', false)
        }
    });
    
})

$('#optionTypeProduct').on('click', function() { 
    $('#typesModal').modal('show');
    $('#types_modal_title').html(`Tipos de productos`)
    $('#types_modal_body').html(`
        <div class="row">
            <div class="col-md-8">
                <input id="newType" type="text" value="" placeholder="Nombre de tipo de producto" class="form-control border-input">
            </div>
            <div class="col-md-4">
                <button id="newTypeButton" class="btn btn-success btn-block">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <br>
        <table class="table table-hover">
            <tbody id="productTypes"></tbody>
        </table>
    `)
    $('#types_modal_footer').html(`
        <button class="btn btn-dark" data-dismiss="modal">
            <i style="color:#e74c3c;" class="fas fa-times"></i> Cancelar
        </button>

        <button class="btn btn-dark" id="saveTypes" disabled>
            <i style="color:#3498db;" class="fas fa-check"></i> Guardar
        </button>
    `)

    getAllTypes().then(res=>{
        let typesCounter = 0
        $('#saveTypes').attr('disabled', false);
        if(res.ok) {
            allTypes = res.ok;
            let allProductTypes = res.ok.reduce((txt, el, i)=>{
                typesCounter++
                return txt += `
                    <tr id="typeProduct-${i}">
                        <td id="typeProductName-${i}"><center><h3 style="margin-top:15px;">${capitalizeFirst(el)}</h3></center></td>
                        <td>
                            <center>
                            <button onclick="deleteTypeProduct(${i})" class="btn btn-danger typeProduct">
                                <i class="fas fa-times"></i>
                            </button>
                            </center>
                        </td>
                    </tr>
                `
            }, '')
            
            $('#productTypes').html(allProductTypes)
        }
        

        $('#newTypeButton').on('click', function() {
            let newTypeText = removeExtraSpaces(capitalizeFirst($('#newType').val().trim()))
            
            if(newTypeText.length > 0) {
                if(allTypes.indexOf(newTypeText.toLowerCase()) === -1) {
                    typesCounter += 1
                    $('#productTypes').append(`
                        <tr id="typeProduct-${typesCounter}">
                            <td id="typeProductName-${typesCounter}"><center><h3 style="margin-top:15px;">${newTypeText}</h3></center></td>
                            <td>
                                <center>
                                <button onclick="deleteTypeProduct(${typesCounter})" class="btn btn-danger typeProduct">
                                    <i class="fas fa-times"></i>
                                </button>
                                </center>
                            </td>
                        </tr>
                    `)
                    allTypes.push(newTypeText.toLowerCase())
                    $('#newType').val('')
                    $('#newType').focus()
                } else {
                    toastr.warning(`EL TIPO DE PRODUCTO <b>${newTypeText}</b> YA EXISTE`)
                }
            } else {
                toastr.warning('DEBE INGRESAR UN NOMBRE DE TIPO DE PRODUCTO')
            }
        })

        $('#saveTypes').on('click', function(){
            $('#saveTypes').attr('disabled', true);
            if(allTypes[0]) {
                swal({
                    reverseButtons: true,
                    title: '¿Estás seguro de modificar los tipos de productos?',
                    text: '',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, Modificar',
                    cancelButtonText: 'No, Cancelar',
                    confirmButtonClass: 'btn btn-primary',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false
                }).then(function (action) {
                    if (action.value) {
                        ajax({
                            url: 'api/product/saveTypes',
                            type: 'POST',
                            data: {types: JSON.stringify(allTypes)}
                        }).then(res=>{
                            if(res.ok) {
                                toastr.success(res.ok)
                                $('#typesModal').modal('hide')
                            }
                        })
                    } else {
                        $('#saveTypes').attr('disabled', false);
                    }
                });
                
            } else {
                toastr.warning(`DEBE EXISTE 1 TIPO DE PRODUCTO COMO MÍNIMO`)
                $('#saveTypes').attr('disabled', false);
            }
        })
    })

    setTimeout(() => {
        $('#newType').focus()    
    }, 500);
})

function deleteTypeProduct(num) {
    allTypes = allTypes.filter(function(item) { 
        return item !== $(`#typeProductName-${num}`).text().toLowerCase()
    })

    console.log(allTypes)
    $(`#typeProduct-${num}`).empty()
}

function getAllTypes() {
    return new Promise(resolve=>{
        ajax({
            url: 'api/product/getAllTypes'
        }).then(res=>{
            console.log(res)
            if(res.ok) {
                resolve(res)
            } else if(res.err) {
                toastr.warning(res.err)
                resolve({err: res.err})
            }
        })
    })
}

function addRow({table, name, type, price, stock}) {
    let newProductAdded = table
    .row.add({
        name: `<b>${name.toUpperCase()}</b>`,
        type: capitalizeFirst(type),
        price: comma_format(price),
        stock: comma_format(stock)
    })
    .draw()
    .node();
    
    $(newProductAdded).css( 'color', '#1abc9c' )
    setTimeout(() => {
        $(newProductAdded).css( 'color', '#484848' )
    }, 5000);
}

function removeRow({table, row}) {
    table
        .row( row )
        .remove()
        .draw()
}

$('.btnSecond').on('click', function() {
    $('.btnSecond').attr('disabled', true)
    setTimeout(() => {
        $('.btnSecond').attr('disabled', false)
    }, 1000);
})
/*

</script>
{{/extend}}